<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fund.product.mapper.ProductMapper">
    <sql id="productCols">product_id,product_name,net_worth,net_worth_old,
    portion,product_type,risk_level,purchase_state,sell_state,set_date,
    product_admin,product_manager,product_custodian</sql>

    <select id="selectByName" resultType="com.fund.api.entity.Product">
        select <include refid="productCols"/> from product where product_name=#{name}
    </select>

    <select id="selectById" resultType="com.fund.api.entity.Product">
        select <include refid="productCols"/> from product where product_id=#{id}
    </select>
    <insert id="insertProduct">
        insert into product(<include refid="productCols"/>)
        values (#{productId},#{productName},#{netWorth},#{netWorthOld},#{portion},
                #{productType},#{riskLevel},#{purchaseState},#{sellState},#{setDate},
                #{productAdmin},#{productManager},#{productCustodian})
    </insert>
    <update id="updateProduct">
        update product set product_name=#{productName}, net_worth=#{netWorth},net_worth_old=#{netWorthOld},portion=#{portion},
                           product_type=#{productType},risk_level=#{riskLevel},product_admin=#{productAdmin},product_manager=#{productManager},
                           product_custodian=#{productCustodian},purchase_state=#{purchaseState},sell_state=#{sellState}
                        where product_id=#{productId}
    </update>
    <update id="updateNetWorthBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update product set net_worth=#{item.netWorth}
            <where>
                product_id = #{item.productId}
            </where>
        </foreach>
    </update>

    <delete id="deleteProductById">
        delete from product where product_id=#{id}
    </delete>

    <select id="getAllProduct" resultType="com.fund.api.entity.Product">
        select <include refid="productCols"/> from product
    </select>

    <select id="selectProductLikely" resultType="map">
        select product_id ,product_name,risk_level  from product where product_id like '%${option}%'
                                                         or product_name like  '%${option}%'
                                                         order by product_id
                                                         limit 0,20
    </select>
    <select id="getNetWorthDto" resultType="com.fund.api.dto.NetWorthDto">
        select product_id, net_worth, portion from product
    </select>
</mapper>